@font-face {
  font-family: 'LeagueGothicRegular';
  src: url("font/League_Gothic-webfont.eot");
  src: url("font/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("font/League_Gothic-webfont.woff") format("woff"), url("font/League_Gothic-webfont.ttf") format("truetype"), url("font/League_Gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 18, scss/my_style.scss */
body {
  border-top: 5px solid #e40b40;
  color: #434444;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  margin: 0;
}

/* line 26, scss/my_style.scss */
header {
  display: block;
  background: url("../img/my_logo.jpg") no-repeat;
  background-position-x: 50%;
  background-position-y: 13%;
  height: 370px;
  line-height: 2.5em;
  margin: 0 auto;
  padding: 200px 0 0 0;
  text-align: center;
  width: 1000px;
}
/* line 38, scss/my_style.scss */
header p.name {
  color: #434444;
  font-family: 'LeagueGothicRegular';
  font-size: 3.5em;
  margin: 0;
  text-transform: uppercase;
}
/* line 46, scss/my_style.scss */
header p.title {
  color: #e40b40;
  font-family: 'LeagueGothicRegular';
  font-size: 2em;
  margin: 0;
  text-transform: uppercase;
}
/* line 54, scss/my_style.scss */
header .mission {
  border-bottom: 2px solid #e1f3fc;
  border-top: 2px solid #e1f3fc;
  margin-top: 50px;
}
/* line 62, scss/my_style.scss */
header #nav ul {
  display: inline;
  list-style: none;
  text-align: left;
}
/* line 67, scss/my_style.scss */
header #nav ul li {
  float: left;
  height: 100px;
  margin-right: 60px;
  margin-top: 50px;
  width: 200px;
}
/* line 74, scss/my_style.scss */
header #nav ul li:last-child {
  margin-right: 0;
}
/* line 78, scss/my_style.scss */
header #nav ul li a.show {
  color: #e40b40;
  cursor: pointer;
  font-family: 'LeagueGothicRegular';
  font-size: 40px;
  margin-bottom: 0;
  text-transform: uppercase;
}
/* line 87, scss/my_style.scss */
header #nav ul li p.desc {
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  width: 150px;
}
/* line 97, scss/my_style.scss */
header .footer {
  float: left;
  margin: 60px 0 20px 0;
  text-align: center;
  width: 1000px;
}
/* line 103, scss/my_style.scss */
header .footer small {
  color: #ccc;
}

/* line 109, scss/my_style.scss */
#container {
  background-color: #e1f3fc;
}
/* line 112, scss/my_style.scss */
#container .content {
  display: none;
}
/* line 115, scss/my_style.scss */
#container .content .wrap {
  margin: 0 auto;
  overflow: auto;
  padding: 50px 0 20px 0;
  position: relative;
  width: 1000px;
}
/* line 122, scss/my_style.scss */
#container .content .wrap .school {
  float: left;
  width: 460px;
}
/* line 127, scss/my_style.scss */
#container .content .wrap .latest {
  background-color: #fff;
  border-radius: 10px;
  float: right;
  margin-top: 7px;
  padding: 20px 30px;
  width: 420px;
}
/* line 135, scss/my_style.scss */
#container .content .wrap .latest ul {
  display: inline;
  list-style: none;
  padding: 0;
}
/* line 140, scss/my_style.scss */
#container .content .wrap .latest ul li {
  margin-bottom: 14px;
}
/* line 143, scss/my_style.scss */
#container .content .wrap .latest ul li:last-child {
  margin-bottom: 0;
}
/* line 147, scss/my_style.scss */
#container .content .wrap .latest ul li img {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-top: 16px;
}
/* line 154, scss/my_style.scss */
#container .content .wrap .latest ul li h5.proj_title {
  margin: 0;
}
/* line 157, scss/my_style.scss */
#container .content .wrap .latest ul li h5.proj_title a {
  color: #434444;
  text-decoration: none;
}
/* line 162, scss/my_style.scss */
#container .content .wrap .latest ul li h5.proj_title span {
  color: #e40b40;
  font-size: 10px;
  font-style: italic;
}
/* line 169, scss/my_style.scss */
#container .content .wrap .latest ul li p.proj_desc {
  display: block;
  font-size: smaller;
  line-height: 20px;
  padding: 6px 0;
}
/* line 180, scss/my_style.scss */
#container .content .clear {
  clear: both;
}
/* line 184, scss/my_style.scss */
#container .content .quarters {
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  border-radius: 10px;
  margin-top: 50px;
  overflow: auto;
  position: relative;
}
/* line 192, scss/my_style.scss */
#container .content .quarters .mg_left {
  margin-left: 50px;
}
/* line 196, scss/my_style.scss */
#container .content .quarters ul {
  border-bottom: 2px solid #e1f3fc;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 900px;
}
/* line 203, scss/my_style.scss */
#container .content .quarters ul li {
  float: left;
  list-style: none;
  margin-right: 62px;
  padding: 0;
  width: 130px;
}
/* line 210, scss/my_style.scss */
#container .content .quarters ul li a {
  color: #434444;
  position: relative;
}
/* line 215, scss/my_style.scss */
#container .content .quarters ul li a.selected h2 {
  color: #ccc;
}
/* line 219, scss/my_style.scss */
#container .content .quarters ul li a.selected p {
  color: #ccc;
}
/* line 224, scss/my_style.scss */
#container .content .quarters ul li a h2 {
  color: #e40b40;
  float: left;
  font-family: 'LeagueGothicRegular';
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  -webkit-transform: rotate(270deg);
}
/* line 235, scss/my_style.scss */
#container .content .quarters ul li a p.large {
  float: left;
  font-family: 'LeagueGothicRegular';
  font-size: 2em;
  margin: 0;
  margin-top: -20px;
  padding: 0;
}
/* line 243, scss/my_style.scss */
#container .content .quarters ul li a p.large:first-letter {
  font-size: 250%;
}
/* line 249, scss/my_style.scss */
#container .content .quarters ul li:last-child {
  margin-right: 0;
}
/* line 255, scss/my_style.scss */
#container .content .quarters .tabs {
  position: relative;
}
/* line 258, scss/my_style.scss */
#container .content .quarters .tabs ul {
  border-bottom: none;
  margin: 0 auto;
  overflow: hidden;
  width: 900px;
}
/* line 264, scss/my_style.scss */
#container .content .quarters .tabs ul li {
  width: 900px;
}
